.panel-numbers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.panel-numbers button {
  width: 100%;
  padding: 40px;
}

.panel-operations {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.1);
}

.panel-operations button {
  width: 100%;
  padding: 40px 0;
}

.main-panel {
  display: flex;
  margin-top: auto;
  background-color: #a2a7e2;
}

.fz-small {
  font-size: 50%;
}

.mb-small {
  margin-bottom: 20px;
}
